[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
fpdf = "*"
pdf2image = "*"
matplotlib = "*"
gunicorn = "*"

[requires]
python_version = "3.5"
